@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

* {
    font-family: 'Noto Sans KR', sans-serif;
}

body {
    /* 기본 8px로 설정되어있어서 0px로 설정 */
    margin: 0px;
}

:root {
    /* 모든 페이지 기본 적용 -> html보다 상위에 있는 가상 요소 */
    --background-color: rgb(249, 250, 251);
    --infoBackground-color: rgb(247, 247, 251);
    --line-color: rgb(209, 209, 209);
    --darkLine-color: rgb(143, 143, 143);
    --green-color: rgb(29, 154, 120);
    --gray-color: rgb(101, 111, 119);
    --lightGray-color: rgb(232, 238, 243);
    --darkGray-color: rgb(82, 82, 82);
    --purple-color: rgb(111, 108, 217);
    --silver-color: rgb(172, 184, 194);
    --pink-color: rgb(255, 99, 132);
    --title-color: rgb(164, 164, 164);
    /* --붙여서 선언해놓고 다른 파트 호출 가능 */
}

#root>.signUpPage {
    /* root태그 바로 아래 자식 classname이 infoPage에 적용 */
    background-color: var(--background-color);
}

#root>.infoPage {
    background-color: var(--background-color);
}

#root>.valueMainPage {
    background: linear-gradient(180deg, rgba(35, 233, 180, 0.3), white 30%);
    /* 수평으로, 앞의 색깔을 %비율만큼 배정 및 흐리기 */
}

.intro {
    color: red;
}

.login {
    text-align: center;
    margin-top: 20vh;
}

.loginText {
    font-size: 45px;
    font-weight: bold;
    color: var(--green-color);
    /* root 속성에 저장해놓은 변수로 사용 가능 */
}

.loginBox {
    display: inline-block;
    margin: 18px;
    background-color: white;
    border: 1px solid var(--silver-color);
    border-radius: 5px;
    box-shadow: 0px 3px 5px var(--silver-color);
    /* 좌우, 상하, 번짐 */
}

.loginInputBox {
    display: flex;
    align-items: center;
    border: 1px solid var(--line-color);
    width: 400px;
    margin: 0 70px;
}

.loginInputFirst {
    margin-top: 40px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.loginImg {
    flex: 1;
    height: 25px;
    margin-left: 10px;
}

.loginInput {
    flex: 15;
    height: 40px;
    font-size: 18px;
    margin-left: 5px;
    border: 0px;
    border-radius: 5px;
    cursor: pointer;
}

.loginInput::placeholder {
    color: var(--line-color);
}

.loginInputSecond {
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.loginCheck {
    display: flex;
    font-size: 15px;
    color: var(--darkLine-color);
    margin-top: 10px;
    margin-bottom: 40px;
}

.loginCheckBox {
    display: flex;
    align-items: center;
    flex: 1;
}

.keepLogin {
    margin-left: 70px;
}

.keepImg {
    width: 20px;
    cursor: pointer;
    margin-right: 5px;
}

.keepEmail {
    margin-right: 70px;
}

.loginError {
    display: none;
    color: red;
    text-align: left;
    margin-top: -20px;
    margin-bottom: 5px;
    padding-left: 5px;
}

.btn {
    border: 1px solid;
    border-radius: 5px;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.loginBtn {
    margin-bottom: 40px;
    width: 400px;
    height: 50px;
    border-radius: 10px;
    box-shadow: 0px 5px 5px var(--silver-color);
}

.askSignUp {
    color: var(--darkGray-color);
}

.signupBtn {
    margin: 0 10px;
    height: 30px;
    font-size: 15px;
}

.greenBtn {
    border-color: var(--green-color);
    background-color: var(--green-color);
    color: white;
}

.whiteBtn {
    border-color: var(--green-color);
    background-color: white;
    color: var(--green-color);
}

.signUpPage {
    text-align: center;
    padding-top: 100px;
}

.signUpHeader {
    font-size: 20px;
    color: var(--darkLine-color);
    margin-bottom: 30px;
}

.signUpLogo {
    color: var(--green-color);
    font-weight: bold;
    font-size: 60px;
}

.signUpGroup {
    display: flex;
    margin: 0 auto;
    margin-bottom: 25px;
    width: 600px;
}

.signUpTitle {
    flex: 1;
    color: var(--darkLine-color);
    font-size: 20px;
    font-weight: bold;
    text-align: start;
    display: flex;
    margin: 8px 0;
}

.signUpAnswer {
    flex: 3;
    display: flex;
}

.signUpBorder {
    border: 1px solid var(--darkLine-color);
    border-radius: 5px;
}

.signUpPadding {
    padding: 6px 0;
    padding-left: 10px;
    font-size: 20px;
}

.signUpPadding::placeholder {
    color: var(--darkLine-color);
    font-size: 17px;
}

.signUpSmall {
    border: 1px solid var(--darkLine-color);
    border-radius: 5px;
    font-size: 20px;
    flex: 1;
    width: 0px;
}

.signUpInputLeft {
    margin-right: 2.5px;
}

.selectGroup {
    position: relative;
    cursor: pointer;
    width: 0;
    flex: auto;
    /* 주어진 간격동안 너비 꽉 차도록 */
}

.selectBase {
    display: flex;
    background-color: white;
    border: 1px solid var(--darkLine-color);
    border-radius: 5px;
    color: var(--darkGray-color);
    height: 40px;
    padding-left: 20px;
    align-items: center;
    cursor: pointer;
}

.selectSignUp {
    height: 43px;
    font-size: 20px;
    padding-left: 10px;
    white-space: nowrap;
    overflow: hidden;
    /* nowrap으로 다음줄로 넘어가지 않도록, hidden으로 넘어간 부분 가려지도록 */
}

.signUpInputRight {
    margin-left: 2.5px;
}

.selectImg {
    width: 20px;
    height: 20px;
    margin: auto 0;
    margin-left: auto;
    margin-right: 10px;
}

.select {
    position: absolute;
    width: 90%;
    overflow: hidden;
    z-index: 10;
    padding: 0;
    margin: 0;
}

.select.selectNone {
    /* className을 붙여서 선언하면 loginInput, password 같이 있는 태그에 적용됨 */
    max-height: 0;
}

.select.selectBlock {
    max-height: none;
}

.option {
    background-color: white;
    list-style: none;
    cursor: pointer;
    border: 1px solid var(--line-color);
    border-radius: 5px;
    padding: 10px;
    margin: 0;
    text-align: left;
    display: list-item;
    /* li 태그의 기본 설정으로, list 형식으로 나옴 */
}

.optionBox {
    margin-right: 7px;
}

.signUpInside {
    width: 100%;
}

.signUpPWCheck {
    flex: 1;
    font-size: 20px;
    border: none;
}

.pwCheckImg {
    margin: auto 5px;
    width: 30px;
    height: 30px;
}

.signUpInputMiddle {
    margin: 0 2.5px;
}

.signUpLast {
    margin-bottom: 65px;
}

.smallBlue {
    font-size: 13px;
    color: rgb(124, 153, 255);
    margin-top: 2px;
}

.signUpError {
    margin-bottom: 10px;
    font-size: 18px;
    color: red;
}

.signUpBtn {
    width: 600px;
    height: 50px;
    border-radius: 10px;
    margin-bottom: 40px;
    box-shadow: 0px 5px 5px var(--silver-color);
}

.header {
    background-color: white;
    height: 70px;
    position: fixed;
    width: 100%;
    z-index: 1000;
    border-bottom: 1px solid rgb(209, 209, 209);
}

.headerBox {
    margin: 0 auto;
    width: 1300px;
    height: 70px;
    display: flex;
    justify-content: space-between;
}

.headerLeft {
    display: flex;
    margin: auto 0;
    /* 상하좌우 */
}

.headerLogo {
    font-size: 30px;
    font-weight: bold;
    color: var(--green-color);
    margin-right: 40px;
    cursor: pointer;
}

.headerSearch {
    display: flex;
    margin: auto 0;
}

.headerSearchImg {
    width: 20px;
    height: 20px;
    margin-top: 2px;
}

.headerSearchText {
    margin: auto 0;
    margin-left: 8px;
    margin-right: 70px;
    color: var(--gray-color);
    cursor: pointer;
}

.headerBtnBox {
    margin: auto 0;
    margin-left: auto;
}

.headerUserBox {
    display: flex;
    cursor: pointer;
}

.headerUserImg {
    text-align: center;
    margin: auto;
    width: 34px;
}

.headerUser {
    margin-right: 30px;
    font-weight: bold;
    margin: auto 5px;
    position: relative;
}

.headerPopup {
    position: absolute;
    top: 48px;
    z-index: 100;
    width: 100%;
    /* 부모가 position relative 여야 width 100% 동작 */
}

.headerPopupList {
    background-color: white;
    border: 1px solid var(--line-color);
    border-top: none;
    padding: 5px 15px;
}

.headerPopupList:hover {
    /* 마우스 올리면 */
    color: var(--green-color);
}

.headerBtn {
    height: 30px;
    font-size: 18px;
    font-weight: 100;
}

.blackBtn {
    border-color: black;
    background-color: white;
    color: black;
}

.mainPage {
    display: flex;
}

.mainBox {
    flex: 1;
    margin-top: 180px;
    color: white;
}

.mainTool {
    width: 60%;
}

.mainLeft {
    margin-left: auto;
    margin-right: 90px;
}

.mainTitle {
    text-align: left;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 40px;
    line-height: 40px;
    /* 줄 사이 간격 조정 */
}

.mainText {
    font-size: 20px;
    line-height: 110%;
    color: rgba(255, 255, 255, 0.8);
}

.mainImgBox {
    margin: 0 auto;
    width: 70%;
    height: auto;
}

.mainImg {
    width: 100%;
    height: auto;
    margin-top: 20px;
}

.mainBtn {
    width: 100%;
    height: 50px;
    border-radius: 15px;
    margin-bottom: 20px;
    box-shadow: 0px 3px 3px rgba(1, 1, 1, 0.4);
}

.purpleBtn {
    border-color: var(--purple-color);
    background-color: var(--purple-color);
    color: white;
}

.mainRight {
    margin-right: auto;
    margin-left: 90px;
}

.grayBtn {
    border-color: var(--silver-color);
    background-color: var(--silver-color);
    color: white;
}

/* 페이지 기본 틀 */
.basicPage {
    width: 1300px;
    margin: 0 auto;
    padding-top: 100px;
}

.mypage {
    text-align: center;
}

.mypageHeader {
    margin-top: 20px;
}

.mypageImg {
    width: 150px;
}

.mypageUser {
    font-size: 24px;
    font-weight: bold;
    color: var(--gray-color);
    margin-top: 5px;
    margin-bottom: 30px;
}

.userName {
    color: var(--purple-color);
}

.mypageInfoText {
    display: flex;
    width: 1300px;
    color: var(--darkLine-color);
    font-size: 18px;
    font-weight: bold;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 15px;
}

.mypageTitle {
    flex: 1;
    text-align: start;
    margin-left: 30px;
}

.mypageLine {
    width: 98%;
    height: 1px;
    border: 0;
    margin: 0 auto;
    background: var(--line-color);
}

.mypageInfoBox {
    display: flex;
    width: 1300px;
    margin: 0 auto;
    margin-bottom: 40px;
    border-radius: 10px;
    background-color: var(--infoBackground-color);
}

.mypageInfo {
    flex: 1;
    text-align: end;
    margin: 10px 30px;
}

.mypageValue {
    float: left;
    color: var(--gray-color);
    margin-bottom: 20px;
}

.goLink {
    margin-right: 5%;
    text-decoration: underline;
    color: rgb(75, 75, 255);
    cursor: pointer;
}

.goLinkValue {
    float: left;
}

.mypageBox {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
}

.mypageCompany {
    border: 1px solid var(--line-color);
    border-radius: 5px;
    background-color: white;
    text-align: start;
    width: 150px;
    margin: 5px;
    margin-bottom: 15px;
    position: relative;
}

.mypageCompanyImg {
    width: 40px;
    height: auto;
    margin: 10px;
    margin-bottom: 0;
}

.mypageCompanyName {
    color: var(--gray-color);
    margin: 0 10px;
    word-break: break-all;
}

.mypageCompanyLink {
    color: blue;
    font-size: 15px;
    margin-left: 65px;
    margin-bottom: 10px;
    text-align: right;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.mypageCompanySelect {
    width: 20px;
}

.mypageCompanyInfo {
    display: none;
    background-color: var(--lightGray-color);
    position: absolute;
    z-index: 10;
    width: 100%;
    word-break: break-all;
    cursor: pointer;
}

.mypageCompanyInfoTitle {
    border-top: 1px solid var(--line-color);
    padding: 5px;
}

.mypageBoxSecond {
    justify-content: space-around;
    width: 100%;
}

.mypagePostBox {
    width: 100%;
}

.mypagePostTool {
    margin: 5px;
    margin-bottom: 15px;
}

.mypagePost {
    border: 1px solid var(--line-color);
    border-radius: 5px;
    background-color: white;
    word-break: break-all;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.mypagePostHeader {
    display: flex;
    margin: 10px;
    margin-bottom: 0;
}

.mypagePostCompany {
    color: var(--gray-color);
    margin-top: 10px;
    cursor: pointer;
}

.mypageGood {
    margin-left: auto;
}

.mypagePostTitle {
    text-align: start;
    font-size: 22px;
    margin: 0 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.mypagePostDetail {
    display: flex;
    color: var(--gray-color);
    margin: 0 10px;
    margin-bottom: 20px;
    margin-top: auto;
    cursor: pointer;
}

.mypagePostDetailBox {
    flex: 1;
    text-align: start;
    display: flex;
    align-items: center;
    word-break: keep-all;
}

.mypageEditBox {
    display: flex;
    font-size: 18px;
    margin: 0 auto;
    margin-top: 25px;
    align-items: center;
    width: 90%;
}

.mypageEditTitle {
    color: var(--gray-color);
    font-weight: bold;
    flex: 1;
    text-align: start;
}

.mypageEditInput {
    flex: 2;
    width: 0;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
}

.mypagePadding {
    padding: 3px 0;
    padding-left: 10px;
}

.mypageEditInputBirth {
    margin-left: -10px;
}

.mypageEditBirth {
    flex: auto;
    background-color: white;
    padding-right: 5px;
    margin-left: 5px;
    color: var(--darkGray-color);
    display: flex;
}

.birthDetail {
    margin-right: auto;
}

.goodpostBox {
    width: 30%;
}

.filterBoxGroup {
    padding-top: 85px;
    border-bottom: 1px solid var(--line-color);
    background-color: var(--background-color);
}

.filterBox {
    width: 1300px;
    margin: 0 auto;
}

.searchHeader {
    color: var(--purple-color);
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 15px;
    display: flex;
}

.searchHeaderImg {
    width: 22px;
    margin: auto 5px;
}

.searchFilter {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.selectLeft {
    margin-right: 5px;
}

.selectMiddle {
    margin: 0 5px;
}

.selectRight {
    margin-left: 5px;
}

.inputGroup {
    display: flex;
    background-color: white;
    border: 1px solid var(--darkLine-color);
    border-radius: 5px;
}

.selectInput {
    width: 0;
    margin-right: 10px;
    padding: 0;
    padding-left: 20px;
    border: none;
    flex: auto;
    font-size: 15px;
}

.selectInput::placeholder {
    font-size: 15px;
    color: var(--darkGray-color);
}

.searchResult {
    display: flex;
    flex-wrap: wrap;
}

.searchResultBox {
    display: flex;
    border-radius: 5px;
    align-items: center;
    height: 30px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
}

.searchResultFirst {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
}

.xText {
    margin-left: 20px;
    margin-right: 5px;
    font-size: 18px;
    cursor: pointer;
}

.searchPage {
    padding-top: 5px;
}

.searchBtnBox {
    text-align: center;
}

.searchBtn {
    font-size: 18px;
    height: 35px;
}

.filterSearchNum {
    color: var(--gray-color);
    font-weight: bold;
    margin: 20px 0;
}

.postGroup {
    display: flex;
    justify-content: space-around;
    /* 해당 간격만큼 사이 간격 조정 */
    flex-wrap: wrap;
    /* 넘치면 다음 줄로 */
}

.post {
    border: 2px solid var(--line-color);
    border-radius: 5px;
    width: 600px;
    height: auto;
    background-color: white;
    margin-bottom: 30px;
    display: flex;
    cursor: pointer;
}

.postLeft {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: var(--lightGray-color);
    flex: 1;
    display: flex;
}

.postImg {
    width: 130px;
    height: auto;
    margin: auto;
}

.postText {
    margin: 15px 20px;
    flex: 2;
    word-break: break-all;
    display: flex;
    flex-direction: column;
    /* flex를 행(세로)으로 배치 */
}

.postHeader {
    display: flex;
}

.postHeaderLeft {
    flex: 3;
}

.companyName {
    font-size: 15px;
    margin-bottom: 5px;
    color: var(--gray-color);
}

.jobName {
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.goodBtn {
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.postBoxGroup {
    margin: 13px 0px;
}

.postBox {
    border-radius: 5px;
    padding: 2px 10px;
    margin-right: 10px;
}

.postDdayBox {
    font-weight: bold;
    border: 1px solid rgb(205, 237, 246);
    background-color: rgb(205, 237, 246);
    color: rgb(99, 86, 215);
}

.postFooter {
    margin-top: auto;
    margin-bottom: 5px;
}

.postDetail {
    display: flex;
    font-size: 16px;
    color: var(--darkGray-color);
}

.postDetailText {
    display: flex;
}

.postCareer {
    flex: 2;
}

.postDetailImg {
    width: 20px;
    height: 20px;
    margin: auto 0;
}

.postCareerImg {
    margin-right: 5px;
}

.postArea {
    flex: 3;
}

.postAreaImg {
    width: 22px;
}

.postStackBox {
    border: 1px solid var(--gray-color);
    background-color: var(--gray-color);
    color: white;
    font-size: 14px;
}

.infoBox {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    align-items: flex-start;
    /* flex 요소 높이가 꽉 차지 않도록 함(자동조정) */
}

.infoLeft {
    flex: 3;
    margin-right: 10px;
    margin-bottom: 30px;
}

.infoBoxTool {
    border: 1px solid var(--lightGray-color);
    border-radius: 20px;
    background-color: white;
}

.infoIn {
    margin: 40px;
}

.infoDetail {
    display: flex;
}

.infoCompanyImg {
    width: 100px;
    margin-right: 30px;
}

.infoDetailRight {
    font-weight: bold;
    height: 100px;
    display: grid;
    align-content: space-between;
    /* 상하 간격 최대한으로 두기 */
}

.infoJobName {
    font-size: 30px;
    margin-top: 5px;
}

.infoCompanyName {
    font-size: 20px;
    margin-bottom: 5px;
    color: var(--silver-color);
}

.infoGrayBox {
    background-color: var(--infoBackground-color);
    margin: 30px 0;
    padding: 20px;
    display: flex;
}

.infoBoxHalf {
    flex: 1;
}

.infoText {
    display: flex;
    margin: 20px;
}

.infoBoxTitle {
    flex: 1;
    color: var(--silver-color);
}

.infoBoxAnswer {
    flex: 2;
    font-weight: bold;
    color: var(--darkGray-color);
}

.infoPostText {
    margin: 40px 0;
}

.infoPostTitle {
    font-weight: bold;
    margin-bottom: 10px;
}

.infoPostAnswer {
    white-space: pre-wrap;
}

.infoStack {
    padding: 3px 10px;
}

.infoApply {
    flex: 1;
    margin-left: 10px;
}

.infoApplyIn {
    margin: 20px 30px;
}

.infoApplyHeader {
    display: flex;
}

.infoApplyCompanyImg {
    height: 80px;
    width: auto;
}

.infoGoodBtn {
    margin-left: auto;
}

.infoApplyJobName {
    font-weight: bold;
    font-size: 20px;
    margin: 10px 0;
}

.infoApplyCompanyName {
    font-weight: bold;
    color: var(--silver-color);
}

.infoBtn {
    width: 100%;
    font-size: 15px;
    margin-top: 20px;
    padding: 3px 0;
}

.valuePageHeader {
    display: flex;
}

.valueBox {
    flex: 1;
    text-align: center;
    margin-top: 9vh;
}

.valueHeader {
    font-size: 25px;
    word-break: keep-all;
    /* 단어를 다음줄로 넘기기 */
}

.valueBoldGrayText {
    font-weight: bold;
    color: var(--gray-color);
}

.valueExplain {
    color: var(--gray-color);
    font-size: 17px;
    margin-top: 15px;
    margin-bottom: 40px;
}

.valueMainBox {
    width: 50%;
    margin: 0 auto;
}

.valueSelectBase {
    color: var(--gray-color);
}

.valueRow {
    display: flex;
    width: 75%;
    margin: 0 auto;
    margin-bottom: 30px;
}

.valueQuestion {
    flex: 1;
    margin: auto 0;
    text-align: left;
    color: var(--gray-color);
    font-weight: bold;
    font-size: 17px;
}

.selectValue {
    flex: 3;
    position: relative;
}

.valueMainBtn {
    width: 75%;
    margin-top: 50px;
    height: 50px;
}

.valueBoxLeft {
    margin-top: 0;
}

.valueOption {
    padding: 10px 20px;
}

.valueDisplay {
    flex: 1;
    border-left: 1px solid var(--line-color);
    filter: blur(20px);
}

.valueDisplayExplain {
    margin: 0 30px;
    font-size: 20px;
    color: var(--gray-color);
    word-break: keep-all;
}

.valueText {
    color: var(--pink-color);
    font-weight: bold;
    font-size: 25px;
    box-shadow: inset 0 -10px 0 yellow;
    /* 왼쪽, -10px은 두께, 오른쪽 */
}

.myValueRadar {
    width: 80%;
}

.noUserValueDisplay {
    height: 0px;
    position: relative;
    top: -360px;
    left: 25%;
    text-align: center;
    margin: 0 auto;
    margin-right: 100px;
    color: var(--gray-color);
    font-weight: bold;
    font-size: 30px;
    z-index: 10;
}

.noUserValueBtn {
    width: 200px;
    margin-top: 20px;
}

.valueSearchText {
    font-size: 20px;
    color: var(--gray-color);
    border-top: 1px solid var(--line-color);
    padding-top: 20px;
    padding-left: 10px;
}

.valueBtnBox {
    text-align: center;
}

.valueBtn {
    margin-top: -15px;
    margin-bottom: 15px;
}

.valuePosts {
    filter: blur(20px);
}

.companyValuePost {
    border: 1px solid var(--line-color);
    border-radius: 10px;
    margin: 20px 0;
    margin-bottom: 30px;
    display: flex;
    width: 600px;
}

.companyValueLeft {
    flex: 1;
    background-color: var(--lightGray-color);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 100%;
}

.companyValueIn {
    margin: 20px;
    height: 90%;
}

.companyValueImg {
    width: 70px;
    height: auto;
}

.companyValueName {
    color: var(--gray-color);
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 30px;
}

.companyValueDetail {
    display: flex;
    color: var(--gray-color);
    font-weight: bold;
    margin-bottom: 12px;
}

.companyValueTitle {
    flex: 2;
}

.companyValueAnswer {
    flex: 1
}

.goCompany {
    font-size: 13px;
    color: blue;
    cursor: pointer;
    margin-left: 50%;
    display: flex;
    position: relative;
    top: -40px;
    /* relative position으로 위치 조정 */
}

.companyValueText {
    color: var(--gray-color);
    font-size: 18px;
    word-break: keep-all;
}

.companyValueMax {
    color: var(--pink-color);
    font-weight: bold;
}

.companyRadar {
    width: 90%;
}

.companyValueRight {
    flex: 2;
}

.companyValueInRight {
    margin: 20px;
    margin-bottom: 0px;
}

.languageTrend {
    background-color: rgba(234, 250, 254, 0.8);
    padding-top: 70px;
}

.trendTool {
    padding-top: 0;
}

.trendPage {
    display: flex;
    width: 90%;
    padding: 70px 0;
    margin: 0 auto;
}

.trendText {
    font-size: 18px;
    word-break: keep-all;
}

.languageText {
    flex: 2;
}

.trendTitle {
    font-size: 22px;
    font-weight: bold;
    color: var(--title-color);
}

.trendPurple {
    font-size: 25px;
    color: var(--purple-color);
    margin-bottom: 30px;
}

.trendBold {
    font-weight: bold;
}

.trendItem {
    color: var(--green-color);
    font-weight: bold;
    font-size: 20px;
}

.trendExtra {
    font-size: 15px;
    color: var(--darkLine-color);
    text-align: end;
    margin-top: 20px;
}

.doughnutGraph {
    flex: 1;
    width: 60%;
    margin-top: 50px;
}

.doughnut {
    width: 400px;
    margin: -100px auto;
    margin-bottom: -70px;
}

.trendSection {
    padding-top: 0px;
}

.trendGraph {
    flex: 1;
}

.graph {
    width: 99%;
}

.jobText {
    flex: 1;
    text-align: right;
    margin-left: 50px;
}

.jobTitle {
    margin-bottom: 30px;
    color: var(--darkGray-color);
}

.jobTypeTrend {
    background-color: rgba(208, 241, 235, 0.2);
}

.jobTypeText {
    flex: 1;
    margin-right: 50px;
}

.trendGray {
    font-size: 22px;
    color: var(--title-color);
}

.wrong {
    text-align: center;
    margin-top: 30vh;
    font-size: 40px;
}

/* width 1320px보다 작을 경우 */
/* 20px은 스크롤바 너비 */
@media (max-width: 1320px) {

    .headerBox,
    /* .bannerBox, */
    .basicPage,
    .filterBox,
    .mypageInfoText,
    .mypageInfoBox {
        width: 95%;
    }

    .mainText {
        font-size: 17px;
    }

    .mypageLine {
        width: 93%;
    }

    .mypageBox {
        width: 100%;
    }

    .mypageCompany {
        margin: 5px auto;
        margin-bottom: 15px;
    }

    .mypageEditBox {
        width: 100%;
    }

    .mypageEditInputBirth {
        margin-left: -15px;
    }

    .infoBox {
        width: 100%
    }

    /* .profile {
        display: none;
    } */

    .noUserValueDisplay {
        top: -300px;
    }
}

@media (max-width: 1200px) {
    .headerSearchText {
        margin-right: 30px;
    }

    .mypageValue {
        display: none;
    }

    .goLinkValue {
        margin-bottom: 20px;
    }

    .mypageEditBirth {
        padding-left: 5px;
    }
}

@media (max-width: 1100px) {

    .mainTool {
        width: 75%;
    }

    .mainLeft {
        margin-right: 70px;
    }

    .mainRight {
        margin-left: 70px;
    }

    .mypageEditBirth {
        font-size: 15px;
        padding: 7px 5px;
    }

    .goodpostBox {
        width: 48%;
    }

    .myValueRadar {
        width: 95%;
    }

    .noUserValueDisplay {
        margin: 0 auto;
    }

    .trendPage {
        width: 100%;
    }

    .doughnut {
        width: 350px;
    }
}

@media (max-width: 1000px) {

    .headerUserBox {
        display: none;
    }

    .mypageEditTitle {
        font-size: 15px;
    }

    .mypageEditBirth {
        padding: 7px 0;
    }
}

@media (max-width: 900px) {

    .mainTool {
        width: 80%;
    }

    .mainLeft {
        margin-right: 50px;
    }

    .mainTitle {
        font-size: 30px;
    }

    .mainRight {
        margin-left: 50px;
    }

    .mypageInfoUserEdit {
        margin: 10px 10px;
    }

    .infoDetail {
        margin-right: 0;
    }

    .infoApply,
    .jobText,
    .jobTypeText {
        display: none;
    }

    .valueMainBox,
    .trendGraph {
        width: 80%;
    }
}

@media (max-width: 800px) {
    .headerSearchText {
        margin-right: 10px;
    }

    .headerLogo {
        margin-right: 30px;
    }

    /* .bannerAnswer, */
    .headerBtn,
    .valueBoxLeft {
        display: none;
    }

    .mainTool {
        width: 85%;
    }

    .mainLeft {
        margin-right: 30px;
    }

    .mainText {
        display: none
    }

    .mainRight {
        margin-left: 30px;
    }

    /* .bannerBtn {
        margin-top: 40px;
    } */

    .mypageLine {
        width: 90%;
    }

    .mypageEditInput {
        flex: 1;
        font-size: 15px;
    }

    .mypageEditBirthBox {
        display: none;
    }

    .infoJobName {
        font-size: 25px;
    }

    .valueDisplay {
        border-left: 0px;
    }

    .noUserValueDisplay {
        left: 0;
        top: -400px;
    }
}

@media (max-width: 700px) {

    .signUpGroup,
    .signUpBtn {
        width: 95%;
    }

    .headerSearchImg,
    .headerSearchText,
    .mypageTitleUserEdit,
    .mypageInfoUserEdit {
        display: none;
    }

    .mainTitle {
        font-size: 25px;
    }

    .goCompany {
        margin-left: 45%;
    }
}

@media (max-width: 600px) {

    .loginBox {
        margin: 18px 0;
    }

    .loginInputBox,
    .postText {
        margin-left: 10px;
        margin-right: 10px;
    }

    .signUpBtn,
    .valueMainBox {
        width: 95%;
    }

    .signUpTitle {
        font-size: 17px;
    }

    .keepLogin {
        margin-left: 10px;
    }

    .keepEmail {
        margin-right: 10px;
    }

    .mainLeft {
        margin-right: 20px;
    }

    .mainTitle {
        font-size: 22px;
    }

    .mainRight {
        margin-left: 20px;
    }

    /* .bannerImg {
        visibility: hidden;
        width: 0;
        height: 0;
    } */

    .postDetail,
    .infoCompanyName,
    .languageText {
        display: none;
    }

    .goodpostBox {
        width: 100%;
    }

    .noUserValueDisplay {
        top: -300px;
    }

    .goCompany {
        padding-top: 5px;
        margin-left: 35%;
    }
}

/* bannerpage START */
/* .banner {
    padding-top: 60px;
    height: 250px;
}

#firstBanner {
    background-color: rgb(0, 177, 167);
}

#secondBanner {
    background-color: rgb(255, 180, 184);
}

.bannerBox {
    margin: 0 auto;
    width: 1300px;
    display: flex;
    color: white;
}

.bannerLeft {
    flex: 2;
    margin: 20px;
    margin-top: 45px;
    line-height: 240%;
}

.bannerTitle {
    font-size: 35px;
    font-weight: bold;
}

.bannerBtn {
    height: auto;
    font-size: 18px;
    font-weight: 100;
    margin-top: 10px;
    padding: 3px 20px;
}

.bannerImg {
    width: 150px;
    height: 150px;
    padding-top: 45px;
    padding-right: 20px;
} */
/* banner END */

/* pastmain START */
/* .goPost {
    display: flex;
    margin-bottom: 20px;
    cursor: pointer;
    width: 160px;
}

.goPostText {
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;
}

.goPostImg {
    width: 25px;
    height: 25px;
    margin: auto 0;
}

.mainBox {
    display: flex;
}

.mainPostGroup {
    flex: 3;
}

.profile {
    border: 2px solid var(--line-color);
    border-radius: 10px;
    width: 300px;
    height: 435px;
    background-color: white;
    margin-left: 50px;
}

.profileChartBox {
    height: 200px;
}

.profileChart {
    margin: 0 auto;
}

.profileInfo {
    padding: 15px 10px;
    background-color: var(--lightGray-color);
}

.profileText {
    color: var(--gray-color);
    font-size: 15px;
}

.profileEmail {
    color: black;
    font-size: 20px;
    font-weight: bold;
    margin: 5px 0;
}

.profileInfoDetail {
    display: flex;
    font-weight: bold;
    margin-bottom: 10px;
}

.profileInfoTitle {
    flex: 2;
    color: var(--gray-color);
}

.profileInfoAnswer {
    flex: 1;
    color: var(--purple-color);
    text-align: center;
    display: flex;
}

.profileLink {
    cursor: pointer;
    margin-left: 30px;
}

.companyNext {
    width: 18px;
    height: 18px;
    margin: auto 0;
    margin-left: 35px;
}

.profileImgLeft {
    flex: 2;
    font-size: 15px;
    margin: auto 0;
    display: flex;
}

.profileImg {
    width: 40px;
    height: 40px;
    border: 2px solid var(--line-color);
    border-radius: 50px;
}

.profileImgEmail {
    width: 130px;
    margin: auto 5px;
    font-size: 14px;
    word-wrap: break-word;
}

.goProfile {
    flex: 1;
    color: var(--purple-color);
    font-size: 12px;
    margin: auto 0;
    cursor: pointer;
}

.noProfile {
    height: 220px;
    background-color: var(--lightGray-color);
    text-align: center;
}

.noProfileText {
    font-weight: bold;
    margin-top: 60px;
    margin-bottom: 20px;
} */
/* pastmain END */
